/* 
Auth: John O'Neal
Date: 05/06/2024
Desc: This is the main styles file for the Reel Conditions Web App.
*/

:root {
  --caribbean-current: #34615c;
  --reseda-green: #829077;
  --powder-blue: #95bbce;
  --sage: #c5c3ac;
  --platinum: #e5e5e5;
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  overscroll-behavior: none;
}

ul {
  margin: 0;
  list-style: none;
}

button {
  font-size: medium;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--powder-blue);
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2em;
  margin: 5px;
}

h2 {
  font-size: 1.5em;
  margin: 5px;
}

h3 {
  font-size: 1.25em;
  margin: 3px;
}

table {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

input[type="text"]:focus {
  outline: none;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  cursor: pointer;
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 280px 3fr 1fr;
  grid-template-rows: 40px 1fr 25px;
  grid-template-areas:
    "leftSidebar header rightSidebar"
    "leftSidebar main rightSidebar"
    "leftSidebar footer rightSidebar";
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  padding: 20px, 0px, 20px, 0px;

  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

/* Hide for main display */
.menu-icon {
  display: none;
}

/* ---------- LEFT SIDEBAR ---------- */

#leftSidebar {
  grid-area: leftSidebar;
  background-color: var(--reseda-green);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#leftSidebar>div {
  padding: 20px;
}

.left-sidebar-title {
  display: flex;
  justify-content: center;
}

/* Hide for main display */
#leftCloseButton {
  display: none;
  margin:  -5px;;
}

.left-sidebar-brand img {
  width: 150px;
}

.search input {
  font-size: medium;
  padding: 3px;
  border-radius: 5px;
  border: black 1px solid;
}

.search button {
  display: flex;
  margin-left: auto;
  margin-top: 5px;
}

#listLocations {
  margin-top: 10px;
  list-style-type: none;
  padding: 3px;
  font-size: medium;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.settings {
  padding: 15px 0px;
  margin-top: auto;
}

.settings:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.left-sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 10;
}

.left-sidebar-responsive .left-sidebar-title>span {
  display: inline;
}

/* ---------- RIGHT SIDEBAR ---------- */

#rightSidebar {
  grid-area: rightSidebar;
  height: 100%;
  color: var(--platinum);
  background-color: var(--caribbean-current);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#rightSidebar>div {
  padding: 15px;
}

.right-sidebar-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.fishing-report,
.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
  width: 100%;
  margin: 15px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 3px;
  resize: vertical;
}

.text-area:focus {
  outline: none;
}

#unsavedDataBanner {
  display: none;
  bottom: 0;
  background-color: #ab544e;
  color: white;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  margin: 20px;
}

/* ---------- MAIN ---------- */

.map-container {
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--powder-blue);
}

#map>* {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* ---------- FOOTER ---------- */

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: smaller;
}

/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(125, 125, 125);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--caribbean-current);
  border-radius: 5px;
}

/* ---------- MODALs ---------- */

.modal {
  display: none;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--platinum);
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
}

#modalClose {
  float: right;
}

#importButton,
#exportButton {
  margin-top: 10px;
}

input[type="radio"] {
  cursor: pointer;
}

/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 1120px */
@media screen and (max-width: 1120px) {
  .grid-container {
    grid-template-columns: 1fr 250px;
    grid-template-rows: 30px 1fr 15px;
    grid-template-areas:
      "header rightSidebar"
      "main rightSidebar"
      "footer rightSidebar";
  }

  #leftSidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
    vertical-align: middle;
  }
}